# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user
.Rdata
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
tests/tmp_load/*
inst/doc

**/.DS_Store

CRAN-RELEASE

# pkgdown files
docs/*
/doc/
/Meta/
docs
